Revision of *args and **kwargs.

**kwargs : This shows passing multiple arguments.If we have to pass data,in a way we are suppose to pass key as well as suppose to pass value then we will use **kwargs.This will return a dictionary as output.

Whereas if we are passing data,in such a way that there is no restriction on the type of data to be passsed then for those kind of arguments we will use *args.This will return tuple as output.

In [1]:
def test1(**kwargs):
    return kwargs

In [2]:
test1(a='Hello',b='Good morning',c=[10,20,30],d=(1,2,3))

{'a': 'Hello', 'b': 'Good morning', 'c': [10, 20, 30], 'd': (1, 2, 3)}

In [3]:
def test2(*args):
    return args

In [4]:
test2("Hello","Good morning",[10,20,30],(1,2,3))

('Hello', 'Good morning', [10, 20, 30], (1, 2, 3))

In [5]:
def details(name,gmail_ext):
    email_id= name+gmail_ext

    return name,gmail_ext,email_id

In [6]:
details("Rashmi",'ai@gmail.com')

('Rashmi', 'ai@gmail.com', 'Rashmiai@gmail.com')

**✨Lambda Function**

In [7]:
def addition(x,y):
    return x+y

In [8]:
addition(10,20)

30

In [9]:
# Similary kind of thing if we want to do but wihtout giving name to the function for that , we have lambda function to use.

Lambda is a keyword , used to create anonymous function ie. function without name.

In [10]:
addition= lambda x,y :x+y   # No name for any function is there.

In [11]:
addition(10,20)

30

In [12]:
name='Rashmi'
gmail_ext='ai@gmail.com'

n=lambda arg1,arg2 : print(arg1,arg2,name+gmail_ext)

In [13]:
n(name,gmail_ext)

Rashmi ai@gmail.com Rashmiai@gmail.com

Python Lambda Functions are anonymous function means that the function is without a name. As we already know that the def keyword is used to define a normal function in Python. Similarly, the lambda keyword is used to define an anonymous function in Python. 

ie.

A lambda function, also known as an anonymous function or a function literal, is a feature available in many programming languages, including Python. It allows you to create small, unnamed functions without explicitly defining them using the def keyword. Lambda functions are typically used when you need a simple, one-line function and don't want to define a separate named function for it.

Lambda functions are particularly useful in situations where you need to define a small function on the fly, without having to give it a name. They are commonly used in scenarios where you need to define quick callbacks or simple transformations.

Regarding memory occupation, like any other function in programming, a lambda function occupies memory when it is defined. The memory required is typically minimal, as lambda functions are small and don't have associated metadata like function names. However, once a lambda function is defined, it exists in memory just like any other function until it goes out of scope or is garbage-collected.

In [14]:
r=10          #Global Variable 'r' , we can access it anywhere even out of the function too.
def div(a,b): 
    r=a/b     #Local variable 'r', we can access it only when we call the function and pass the value. 
              #returns r values as output.
    return r

In [15]:
div(10,10)

1.0

In [16]:
r

10

In the case of a **`local variable`**, it is declared and assigned a value within a specific scope, such as a function. On the other hand, a **`global variable`** is declared outside any function or scope and can be accessed and modified from anywhere within the program.

**Lets write our own function and also write the docstring ie. details about the functions (if user press shift and tab after writing the function name ) then user will see the docstring|.**

In [17]:
def employee_detials(name,contact,designation,email):
    return name,contact,designation,email

In [18]:
employee_detials    #If we press shift+tab we can see no docstring is written over here.

Shows something like this:
    
    Signature: employee_detials()
    Docstring: <no docstring>
    File:      c:\users\admin\appdata\local\temp\ipykernel_18068\3301014972.py
    Type:      function

In [19]:
#Lets introduction about the function as docstring.

In [20]:
def employee_detials(name,contact,designation,email):
    """This is a function employee_details which stores the data of employee of this company.
    arugments are name , contact ,designation and email.
    No default value is there for anything . You need to enter everything."""
    
    return name,contact,designation,email

In [21]:
 employee_detials #Now if we will see will get as below:Signature: employee_detials()

Docstring:
This is a function employee_details which stores the data of employee of this company.
arugments are name , contact ,designation and email.

In [22]:
employee_detials("Rash","+919887898789",'Data Scientist','rasmehta828@gmail.com')

('Rash', '+919887898789', 'Data Scientist', 'rasmehta828@gmail.com')

✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨

### Iterable  Vs Iterator

In [23]:
# If will consider a variable a=10 and if we use for loop over it then-

a=10

for i in a:
    print(i)   TypeError: 'int' object is not iterable

**What is the difference between Iterator, Iterable and Generator,then we will be able to under the internal mechanisum of
for loop as well**

In [24]:
for i in "Hello":
    print(i)

H
e
l
l
o

We know whenever we try to store data in the form of string we actually stroe it in the form of indexes.

Now if someone ask to give the each element of the string but wihtout using any loop,indexing or slicing then can we do that ?
Answer is Yes.

next("Hello")    TypeError: 'str' object is not an iterator

**Understand int is not iterable whereas str is not an iterator.Iterator is a kind of object or an entity out of which we can extract data based on indexes.**

* Iterable: Collection of elements. eg.String ,list,tuple,dict,set.
* Iterator: Object for accessing elements sequentially.


An iterable is a container object that can be iterated upon, while an iterator is an object that allows us to iterate over the elements of an iterable, providing access to them one by one.  (Able to remember what we have done last time and what we have to do next)

In the case of the string "Hello", the string itself is an iterable, and we can convert it to an iterator using the iter() function. The iterator will allow us to access each letter of the string without using indices, slicing, or any loop.

In [25]:
s='Hello'

In [26]:
s

'Hello'

In [27]:
i=iter(s)
i

In [28]:
next(i)

'H'

In [29]:
next(i)

'e'

In [30]:
next(i)

'l'

In [31]:
next(i)

'l'

In [32]:
next(i)

'o'

next(i)   #No more data left that's why it gives us the error.


StopIteration                             Traceback (most recent call last)
~\AppData\Local\Temp\ipykernel_15036\1939748483.py in <module>
----> 1 next(i)

StopIteration:

In [33]:
my_string = "Hello"  # Iterable

# Creating an iterator from the iterable
my_iterator = iter(my_string)

# Accessing each letter using the iterator
print(next(my_iterator))  # 'H'
print(next(my_iterator))  # 'e'
print(next(my_iterator))  # 'l'
print(next(my_iterator))  # 'l'
print(next(my_iterator))  # 'o'

H
e
l
l
o

# Trying to access more letters raises StopIteration
print(next(my_iterator))  # StopIteration exception

---------------------------------------------------------------------------------------------------------------------------
* List of iterables: [list, tuple, dictionary, set, string]

* List of iterators: [list iterator, tuple iterator, dictionary iterator, set iterator, string iterator]

In [34]:
# List iterable
my_list = [1, 2, 3, 4, 5]
for item in my_list:       #for loop converts this iterable object to iterator and the prints the object.
                           #Without loop if we jsut use next(my_list) this shows error that list is not iterator.
    print(item)

1
2
3
4
5

In [35]:
# Tuple iterable
my_tuple = (6, 7, 8, 9, 10)
for item in my_tuple:      #for loop converts this iterable object to iterator and the prints the object.
                           #Without loop if we jsut use next(my_tuple) this shows error that tuple is not iterator.
    print(item)

6
7
8
9
10

In [36]:
# Dictionary iterable
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in my_dict.items():  #for loop converts this iterable object to iterator and the prints the object.
                                   #Without loop if we jsut use next(my_dict) this shows error that dict is not iterator.
    print(key, value)

a 1
b 2
c 3

In [37]:
# Set iterable
my_set = {11, 12, 13, 14, 15}
for item in my_set:             #for loop converts this iterable object to iterator and the prints the object.
                           #Without loop if we jsut use next(my_set) this shows error that set is not iterator.
    print(item)

11
12
13
14
15

In [38]:
# String iterable
my_string = "Hello"
for char in my_string:   #for loop converts this iterable object to iterator and the prints the object.
                           #Without loop if we jsut use next(my_string) this shows error that string is not iterator.
    print(char)

H
e
l
l
o

In [39]:
# List iterator
list_iterator = iter(my_list)
print(next(list_iterator))  # 1
print(next(list_iterator))  # 2
print(next(list_iterator))  # 3

1
2
3

In [40]:
# Tuple iterator
tuple_iterator = iter(my_tuple)
print(next(tuple_iterator))  # 6
print(next(tuple_iterator))  # 7
print(next(tuple_iterator))  # 8

6
7
8

In [41]:
# Dictionary iterator
dict_iterator = iter(my_dict)
print(next(dict_iterator))  # 'a'
print(next(dict_iterator))  # 'b'
print(next(dict_iterator))  # 'c'

a
b
c

In [42]:
# Set iterator
set_iterator = iter(my_set)
print(next(set_iterator))  # 11
print(next(set_iterator))  # 12
print(next(set_iterator))  # 13

11
12
13

In [43]:
# String iterator
string_iterator = iter(my_string)
print(next(string_iterator))  # 'H'
print(next(string_iterator))  # 'e'
print(next(string_iterator))  # 'l'

H
e
l

**String is bydefault as iterable object but it is not an iterator. That is even if we apply next() to it, it won't give us 
the element or next element.So Something is needed which will force iterable object to do that to print elements one ny one
and that is done using iter() which makes the iterable object to an iterator.
Also while we are using loop and we are considering the string only like for i in "hello" , then in that case: for loop
converts the iterable string to iterator object.**

**Interview Question: LIST is iterator object or not?**

`Answer:` No, list is not an iterator object , it is an iterable object.If we want to make it iterator object we can do that using iter() function on list.
    and then we can access each element of the list even without using index or slicing or any loop , just by using next() function on the iterator.
    
    Same things goes with String,Tuple,Dict and set too.

-------------------------------------------------------------------------------------------------------------

### Generator

In [44]:
#Normal Function : Return cube for each of the element.

def test(n):
    l=[]
    for i in range(n):
        l.append(i**3)
        
    return l

In [45]:
test(6)

[0, 1, 8, 27, 64, 125]

**Suppose we have to do this for n as 600000000000 then it would take long time to get executed.
Also Unless it won't finsh its calculation and append for each element it won't show us the output.
But Suppose we want something like do calculation and just show the output one after the other without stroring the entire data and continously shows the output in that case we are suppose to use something called `yield` in place of `return`.**

In [46]:
def test(n):

    for i in range(n):
        yield i**3

In [47]:
test(10)  #This function is a Generator function.THis wont give output ,rather this helps to provide the output.

In [48]:
for i in test(6):
    print(i)

0
1
8
27
64
125

In [49]:
range(0,6)  #This is also inbuilt generator kind of function.

range(0, 6)

In [50]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

Note: When we use this test() for 600000 now this will give us data one by one this won't wait to get finsih first and then show output . No this will give the data line in line...one by one....this is done using yield .

In Python, a generator is a special type of iterator that allows you to generate a sequence of values on-the-fly. Unlike regular functions that return a value and then terminate, generators can pause and resume their execution, preserving their internal state between calls.

Generators are defined using a syntax similar to regular functions but with a key difference: they use the yield statement instead of the return statement to produce a value. When a generator function is called, it returns an iterator object that can be iterated over using a loop or other iterable methods.

---------------------------------------------------------------------------------------------------------------------------

Just for Knowledge : Does in chatgpt generator fucntion of python was used?

Yes, the `generator` function in Python was used in the implementation of ChatGPT. The generator function is a special type of function that returns an iterator, which can be iterated over using a `for` loop or by calling the `next()` function on it. In the case of ChatGPT, the generator function is used to generate responses to user inputs during a conversation.

The generator function allows ChatGPT to yield one response at a time, rather than generating all possible responses at once. This is useful for memory efficiency and responsiveness, as it allows the model to generate responses on-the-fly as the conversation progresses. The generator function also allows for easy integration with other code or frameworks that expect an iterable, such as a web application or a command-line interface.

In [51]:
#Lets Create Fibonacci Series.The Fibonacci series is an infinite series, starting from '0' and '1', in which every number
#in the series is the sum of two numbers preceding it in the series.

In [52]:
def fib(n):
    a=0
    b=1

    output=[]
    for i in range(n):
        output.append(a)
        a,b=b,a+b
    return output

In [53]:
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [54]:
#Aim: To Convert this above fibonaci series function to as generator function.

In [55]:
def genfib(n):
    a=0
    b=1
    
    for i in range(n):
        a,b=b,a+b
        yield a

In [56]:
genfib(10)   #This is Generator Function.

In [57]:
for i in genfib(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

---------------------------------------------------------------------------------------------------------------------------
✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨

### File Handling

It allows us to handle files by performing wide range of operations like creating,reading,appending,writing,renaming etc.

**Opening a File.**

Suppose if the file is not available but still we are trying to open it then, this will through an error to use.

f=open("text1.txt")


FileNotFoundError: [Errno 2] No such file or directory: 'text1.txt'

In [58]:
#But as if i will introduce just one thing ie. 'wb' then no error will be there.This is because , after introducing this
#'wb' to open(),if file is not there then this will create a file with same name as mentioned and open it when asked.

f=open("text1.txt",'wb')  #mode : 'wb' stands for writing in a binary format.

Character Meaning for mode
--------- ---------------------------------------------------------------
'r'       open for reading (default)
'w'       open for writing(if file doesnot exist), truncating the file first(if file exist)
'x'       create a new file and open it for writing
'a'       open for writing, appending to the end of the file if it exists
'b'       binary mode
't'       text mode (default)
'+'       open a disk file for updating (reading and writing)
'U'       universal newline mode (deprecated)

Therefore while we are using 'wb', this means open for writing and in binary mode.

**Writing in File**

In [59]:
#Lets write something in file.
filename=open('text2.txt',"w")  #Here text2 is not there so first this will be created as we have writing 'w'

In [60]:
filename.write(r'Hello there this is second text file . In this we are trying to write something') 

#Then using this code for writing we will write things as per our desire.

79

In [61]:
#To close the file we have to use this .close() 
filename.close()

---------------------------------------------------------------------------------------------------------------------------

In [62]:
#Lets open and read the content from text2.txt file.

In [63]:
filename=open('text2.txt')  #Just opening the file as it already exists.

In [64]:
filename.read()

'Hello there this is second text file . In this we are trying to write something'

In [65]:
filename.seek(0)   #Using seek() we can set the cursor position , that I want to start from where.
                   #This shows This will starts from 0th position.

0

In [66]:
filename.read()

'Hello there this is second text file . In this we are trying to write something'

In [67]:
filename.seek(9)

9

In [68]:
filename.read()  #This reads the charaters started from 9th index .

're this is second text file . In this we are trying to write something'

In [69]:
#Lets Open file with read mode.

f=open('text2.txt','r')  #read mode is there so we won't be able to perform any operation other than read.
                         #This helps kind of giving the neccessary permission to the user.

In [70]:
f

In [71]:
f.read()

'Hello there this is second text file . In this we are trying to write something'

In [72]:
#Suppose we want our cursor to be at 7th position and from there we want to read 10 characters only then we can do that .
f

In [73]:
f.seek(7)

7

In [74]:
f.read(10) #h index is 7th and whitespace index is 9th. (10-1 place)

'here this '

In [75]:
#Suppose i want to append things to the same file then firstly i have to open it in append mode and after that.Will make 
# append the required txt to it.

filename=open('text2.txt','a')

In [76]:
filename.write(" .This statement we are appending in the existing file.Here we go.")

66

In [77]:
#Now lets read it again after addition/append of some charaters.
filename=open('text2.txt','r')

In [78]:
filename.read()

'Hello there this is second text file . In this we are trying to write something .This statement we are appending in the existing file.Here we go.'

In [79]:
filename.close()

In [80]:
#Meaning of writing binary data.

f=open('text1.txt','wb')

In [81]:
f.write(b"The written data is inserted using binary mode , just used 'wb' while opening file and b while inserting the text.")

114

In [82]:
f=open('text1.txt','r')

In [83]:
f.read()

"The written data is inserted using binary mode , just used 'wb' while opening file and b while inserting the text."

In [84]:
f.close()

In [85]:
#Using readline operation:Lets make a new file in which we have different lines

In [86]:
culture = "Indian culture is incredibly diverse and rich.\nIt is known for its ancient heritage, traditions, and customs.\nIndia is home to a multitude of religions, including Hinduism, Islam, Sikhism, Buddhism, and Jainism.\nThe country celebrates a wide range of colorful festivals throughout the year, such as Diwali, Holi, Eid, Christmas, and Pongal.\nIndian cuisine is renowned globally for its variety and flavors, with dishes like curry, biryani, dosa, and samosa being popular.\nThe arts, including classical music, dance forms like Bharatanatyam and Kathak, and traditional crafts such as pottery, textiles, and embroidery, are integral parts of Indian culture."

In [87]:
india_file=open("India_culture_para.txt",'w')

In [88]:
india_file.write(culture)

654

In [89]:
#Lets read each line.
india_file=open('India_culture_para.txt','r')
india_file.readline()

'Indian culture is incredibly diverse and rich.\n'

In [90]:
india_file.readline()

'It is known for its ancient heritage, traditions, and customs.\n'

In [91]:
india_file.readline()

'India is home to a multitude of religions, including Hinduism, Islam, Sikhism, Buddhism, and Jainism.\n'

In [92]:
india_file.readline()

'The country celebrates a wide range of colorful festivals throughout the year, such as Diwali, Holi, Eid, Christmas, and Pongal.\n'

In [93]:
india_file.readline()

'Indian cuisine is renowned globally for its variety and flavors, with dishes like curry, biryani, dosa, and samosa being popular.\n'

In [94]:
india_file.readline()

'The arts, including classical music, dance forms like Bharatanatyam and Kathak, and traditional crafts such as pottery, textiles, and embroidery, are integral parts of Indian culture.'

In [95]:
india_file.readline()

''

In [96]:
#This shows readline reads line by line and stops to print one encounter \n.

* The Strip() method in Python removes or truncates the given characters from the beginning and the end of the original string

In [97]:
a="      Hello this strip functions      "

In [98]:
a.strip(' ')

'Hello this strip functions'

In [99]:
string = "The King has the largest army in the entire world."

In [100]:
print(string.strip('The King has'))

the largest army in the entire world.

In [101]:
print(string.strip('in the entire world.'))

The King has the largest army

In [102]:
i="Indian culture is incredibly diverse and rich.\nIt is known for its ancient heritage, traditions, and customs.\n"

In [103]:
if '\n' in i:
    print(i.strip())

Indian culture is incredibly diverse and rich.
It is known for its ancient heritage, traditions, and customs.

In [104]:
india_file = open('India_culture_para.txt', 'r')

for line in india_file:
    if '\n' in line:
        print(line.strip())

Indian culture is incredibly diverse and rich.
It is known for its ancient heritage, traditions, and customs.
India is home to a multitude of religions, including Hinduism, Islam, Sikhism, Buddhism, and Jainism.
The country celebrates a wide range of colorful festivals throughout the year, such as Diwali, Holi, Eid, Christmas, and Pongal.
Indian cuisine is renowned globally for its variety and flavors, with dishes like curry, biryani, dosa, and samosa being popular.

**Creating and empty text file and then using single mode for read and write in that created txt file .use 'r+'**

In [105]:
file_1=open("hello.txt",'wb')  #Creating a blank txt file.

In [106]:
file_1=open("hello.txt",'r+')

In [107]:
file_1.write("Hello this is creation of file and writing in it using single mode ie. r+")

73

In [108]:
file_1.seek(0)    #To ensure that this will read everthing from starting
file_1.read()

'Hello this is creation of file and writing in it using single mode ie. r+'

In [109]:
file_1.close()

---------------------------------------------------------------------------------------------------------------------------

**Appending few more charcaters inside an existing file, text2.txt file , using single mode as a+ which is used to append the written and read**

In [110]:
f=open("text2.txt",'r')

In [111]:
f.read()

'Hello there this is second text file . In this we are trying to write something .This statement we are appending in the existing file.Here we go.'

In [112]:
#If we want to add few lines to existing file in which we can append and read both at  once then use ' a+ '.

In [113]:
f=open("text2.txt",'a+')

In [114]:
f.write(" This peice of statment is written using mode as a+ , in which we can read as well as write the things in file.")

111

In [115]:
f.seek(0)  #To ensure that this will read everthing from starting.
f.read()

'Hello there this is second text file . In this we are trying to write something .This statement we are appending in the existing file.Here we go. This peice of statment is written using mode as a+ , in which we can read as well as write the things in file.'

In [116]:
f.close()

---------------------------------------------------------------------------------------------------------------------------

**Writes sequence of lines at the end of the file.**

In [117]:
f=open('hello.txt','r+')

In [118]:
f.read()

'Hello this is creation of file and writing in it using single mode ie. r+'

In [119]:
f.writelines('hehehehehee HHHHHHHH  EEEEEEEE   LLLLLLLLL LLLLLLL OOOOOOOOOO')

In [120]:
f.seek(0)
f.read()

'Hello this is creation of file and writing in it using single mode ie. r+hehehehehee HHHHHHHH  EEEEEEEE   LLLLLLLLL LLLLLLL OOOOOOOOOO'

Likewise so many commands are there in this.This File handling is something that we are not going to use frequently,
We will use pandas library for doing most of our stuffs like handling file or data manipulations.

---------------------------------------------------------------------------------------------------------------------------

✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨✨

### Basic of Operating System

In [121]:
import os   #module operating system os.

In [122]:
#To check the directory location of the any file lets say jupyter notebook here. then --
# first do it %pwd or call pwd() : It stands for present working directory.
%pwd

'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code'

In [123]:
pwd()      #Present working directory of this notebook.

'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code'

In [124]:
os.getcwd()  #Same as pwd()

'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code'

In [125]:
#List of all the elements/files present in the current directory.

os.listdir()

['.ipynb_checkpoints',
 '01. Python Introduction , Installation and Setup.ipynb',
 '02.Python Basic and Conditionals.ipynb',
 '03. Conditional Loops.ipynb',
 '04.Working with Loops.ipynb',
 '05.Working with Strings Lists.ipynb',
 '06.List manipulation.ipynb',
 '07.Tuple,Set and Dictionary.ipynb',
 '08.Working with Functions.ipynb',
 '09.Functions,Generators and File Handling.ipynb',
 'hello.txt',
 'India_culture_para.txt',
 'text1.txt',
 'text2.txt']

In [126]:
os.listdir("C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code")  #or we can do this too.

['.ipynb_checkpoints',
 '01. Python Introduction , Installation and Setup.ipynb',
 '02.Python Basic and Conditionals.ipynb',
 '03. Conditional Loops.ipynb',
 '04.Working with Loops.ipynb',
 '05.Working with Strings Lists.ipynb',
 '06.List manipulation.ipynb',
 '07.Tuple,Set and Dictionary.ipynb',
 '08.Working with Functions.ipynb',
 '09.Functions,Generators and File Handling.ipynb',
 'hello.txt',
 'India_culture_para.txt',
 'text1.txt',
 'text2.txt']

In [127]:
os.listdir("C:\\Users\\Admin\\Desktop\\ineuron")  #or we can do this too.

['.ipynb_checkpoints',
 'FSDS ineuron',
 'Full stack data science masters (Live)',
 'Resource Provided By Mentors']

In [128]:
# Window user : Always use double forward \\ or single backward / slash while dealing with any file location.

In [129]:
#Suppose we want to change the working directory from other path to some other path.
#Docstring:
#Change the current working directory to the specified path.

os.chdir("E:\\")

In [130]:
#Question:Check do we have directory with specific name if yes make txt file and read data from it 
#else if not make a directory with new name and then read it.

In [131]:
pwd()

'E:\\'

In [132]:
os.chdir('C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code')   #Got back to previous directory.

In [133]:
pwd()

'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code'

In [134]:
#Suppose in the same dir we want to create or make one new directory then... we use mkdir : stands for make directory.

os.mkdir("09.This_is_new_directory_for_OS")

In [135]:
pwd()

'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code'

In [136]:
os.listdir()   #We can see at this present directory 'C:\\Users\\Admin\\Desktop\\ineuron' new file got created using mkdir

['.ipynb_checkpoints',
 '01. Python Introduction , Installation and Setup.ipynb',
 '02.Python Basic and Conditionals.ipynb',
 '03. Conditional Loops.ipynb',
 '04.Working with Loops.ipynb',
 '05.Working with Strings Lists.ipynb',
 '06.List manipulation.ipynb',
 '07.Tuple,Set and Dictionary.ipynb',
 '08.Working with Functions.ipynb',
 '09.Functions,Generators and File Handling.ipynb',
 '09.This_is_new_directory_for_OS',
 'hello.txt',
 'India_culture_para.txt',
 'text1.txt',
 'text2.txt']

In [137]:
pwd()

'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code'

In [138]:
os.listdir()  #HEre we have a new direcoty or folder '09.This_is_new_directory_for_OS'.So lets go into this folder or dir.

['.ipynb_checkpoints',
 '01. Python Introduction , Installation and Setup.ipynb',
 '02.Python Basic and Conditionals.ipynb',
 '03. Conditional Loops.ipynb',
 '04.Working with Loops.ipynb',
 '05.Working with Strings Lists.ipynb',
 '06.List manipulation.ipynb',
 '07.Tuple,Set and Dictionary.ipynb',
 '08.Working with Functions.ipynb',
 '09.Functions,Generators and File Handling.ipynb',
 '09.This_is_new_directory_for_OS',
 'hello.txt',
 'India_culture_para.txt',
 'text1.txt',
 'text2.txt']

In [139]:
os.chdir('C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code\\09.This_is_new_directory_for_OS')

In [140]:
pwd()

'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code\\09.This_is_new_directory_for_OS'

In [141]:
if 'new_text.txt' in os.listdir():
    print("My file is available in this dir")
else:
    print("No file is not available in my currect dir.")
    #Lets create txt file using 'wb' and open it.
    file=open('new_text.txt','wb')
    print(file)
    print("File created successfully! Now you can open it.")

No file is not available in my currect dir.
<_io.BufferedWriter name='new_text.txt'>
File created successfully! Now you can open it.

In [142]:
file.close()

In [143]:
#As if there is file (already exisiting file then open it)

In [144]:
if "new_text.txt" in os.listdir():
    print("My file is available in this dir")
    f=open("new_text.txt",'r+')
    f.read()
    print(f)
    f.close()

else:
    print("No file is not available in my currect dir.")

My file is available in this dir
<_io.TextIOWrapper name='new_text.txt' mode='r+' encoding='cp1252'>

In [145]:
#Question:Check do we have directory with specific name if yes else if not make a directory with new name .

In [146]:
#This won't show no more error as this dir is already there therfore it won't create it.
if not os.path.isdir("09.This_is_new_directory_for_OS"):
    os.mkdir("New_directory_created")

In [147]:
#Renaming the file.

In [148]:
f=open('new_text.txt','r+')
f.close()

In [149]:
os.rename('new_text.txt','name_updated.txt')

In [150]:
pwd()

'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code\\09.This_is_new_directory_for_OS'

In [151]:
os.listdir()

['name_updated.txt', 'New_directory_created']

In [152]:
#Move a file from one file to another file: for that we have to import shutil.First mentioned location to another mentioned
#location.
#Not doing here , coz some files are open .

### Problem:

Q1. Create a new directory.
Q2. Now in exisiting directory, Create 10 txt file and write same data or same string in all txt at a time.
Q3. Read all the data from this dir/file and print in console.
Q4. Hold all the data in a list.
Q5. Write all the data in a new file from list.

**Soltuion**

In [153]:
#Lets check the present working directory address.

In [154]:
pwd()

'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code\\09.This_is_new_directory_for_OS'

In [155]:
#Lets check all file present inside this directory.
os.listdir()

['name_updated.txt', 'New_directory_created']

In [156]:
#Ans1: Lets creating a new directory inside this exsisting one.

os.mkdir("Task_dir_given_by_sir")

In [157]:
os.listdir()   #New directory got created.

['name_updated.txt', 'New_directory_created', 'Task_dir_given_by_sir']

In [158]:
#Ans2: 
#Changing to new path that is: or os.chdir(os.getcwd()+"\\Tak_dir_given_by_sir")  This is more efficient way.

os.chdir("C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code\\09.This_is_new_directory_for_OS\\Task_dir_given_by_sir")

In [159]:
for i in range(1,20):  #Suppose 10 year data is there.
    file_name="Company_Data"+str(i)+".txt"
    
    f= open(file_name,'w')
    
    f.write("Hello There ! Company welcomes you.Have a great day ahead.")
    print(f)
    print("File created successfully! Now you can open it.")

<_io.TextIOWrapper name='Company_Data1.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data2.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data3.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data4.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data5.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data6.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data7.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data8.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data9.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data10.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data11.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data12.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data13.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data14.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data15.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data16.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data17.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data18.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.
<_io.TextIOWrapper name='Company_Data19.txt' mode='w' encoding='cp1252'>
File created successfully! Now you can open it.

In [160]:
files=os.listdir()
files

['Company_Data1.txt',
 'Company_Data10.txt',
 'Company_Data11.txt',
 'Company_Data12.txt',
 'Company_Data13.txt',
 'Company_Data14.txt',
 'Company_Data15.txt',
 'Company_Data16.txt',
 'Company_Data17.txt',
 'Company_Data18.txt',
 'Company_Data19.txt',
 'Company_Data2.txt',
 'Company_Data3.txt',
 'Company_Data4.txt',
 'Company_Data5.txt',
 'Company_Data6.txt',
 'Company_Data7.txt',
 'Company_Data8.txt',
 'Company_Data9.txt']

In [161]:
#Ans 3:
for i in files:
    f=open(i,'r')
    
    
    f.seek(0)   #This we have done to ensure that i would start from begining.
    print("Filename :",i,"----> Data is:",f.read())

Filename : Company_Data1.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data10.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data11.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data12.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data13.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data14.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data15.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data16.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data17.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data18.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data19.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data2.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data3.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data4.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data5.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data6.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data7.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data8.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.
Filename : Company_Data9.txt ----> Data is: Hello There ! Company welcomes you.Have a great day ahead.

In [162]:
#Ans 4: Hold all data inside a list.

In [163]:
list_of_files=[]
    
for i in files:
    f=open(i,'r')
    f.seek(0)   #This we have done to ensure that i would start from begining.
    e=f.read()
    
    list_of_files.append(e)

In [164]:
list_of_files

['Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.',
 'Hello There ! Company welcomes you.Have a great day ahead.']

In [165]:
 #Write all the data in a new file from list.
#Ans 5:

new_file=open("New_List_of_data.txt",'wb')   #Lets create new file.

new_file=open("New_List_of_data.txt",'w')

for j in list_of_files:
    new_file.write(j)

In [166]:
#Lets open this file in read mode and read all the data inside it.

new_file=open("New_List_of_data.txt",'r')

In [167]:
new_file.seek(0)
r=new_file.readlines()
r

['Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.']

In [168]:
new=str(r).replace("["," ").replace("]"," ").strip()

In [169]:
new

"'Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.Hello There ! Company welcomes you.Have a great day ahead.'"

In [170]:
new_file.close()

In [171]:
#Keep only a new file (dumped list) in present directoty and move rest(other 10 files ) in new directory.
#Ans 6:

In [172]:
pwd()

'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code\\09.This_is_new_directory_for_OS\\Task_dir_given_by_sir'

In [173]:
#So keeping this file new in this directory only.
files=os.listdir()
files

['Company_Data1.txt',
 'Company_Data10.txt',
 'Company_Data11.txt',
 'Company_Data12.txt',
 'Company_Data13.txt',
 'Company_Data14.txt',
 'Company_Data15.txt',
 'Company_Data16.txt',
 'Company_Data17.txt',
 'Company_Data18.txt',
 'Company_Data19.txt',
 'Company_Data2.txt',
 'Company_Data3.txt',
 'Company_Data4.txt',
 'Company_Data5.txt',
 'Company_Data6.txt',
 'Company_Data7.txt',
 'Company_Data8.txt',
 'Company_Data9.txt',
 'New_List_of_data.txt']

In [174]:
for i in files[:-1]:
    print(i)

Company_Data1.txt
Company_Data10.txt
Company_Data11.txt
Company_Data12.txt
Company_Data13.txt
Company_Data14.txt
Company_Data15.txt
Company_Data16.txt
Company_Data17.txt
Company_Data18.txt
Company_Data19.txt
Company_Data2.txt
Company_Data3.txt
Company_Data4.txt
Company_Data5.txt
Company_Data6.txt
Company_Data7.txt
Company_Data8.txt
Company_Data9.txt

In [175]:
import os
import shutil

source_dir = 'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code\\09.This_is_new_directory_for_OS\\Task_dir_given_by_sir'
destination_dir = 'C:\\Users\\Admin\\Desktop\\ineuron\\FSDS ineuron\\01.PYTHON\\Code\\09.This_is_new_directory_for_OS\\New_directory_created'

files = os.listdir(source_dir)
print(files)

['Company_Data1.txt', 'Company_Data10.txt', 'Company_Data11.txt', 'Company_Data12.txt', 'Company_Data13.txt', 'Company_Data14.txt', 'Company_Data15.txt', 'Company_Data16.txt', 'Company_Data17.txt', 'Company_Data18.txt', 'Company_Data19.txt', 'Company_Data2.txt', 'Company_Data3.txt', 'Company_Data4.txt', 'Company_Data5.txt', 'Company_Data6.txt', 'Company_Data7.txt', 'Company_Data8.txt', 'Company_Data9.txt', 'New_List_of_data.txt']

![3.gif](attachment:3.gif)